{% extends "index.html" %} {% block title %} Sign up {% endblock %} {% block
content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body p-4">
          <h3 class="text-center mb-4">Sign up</h3>
          <form action="/signup" method="POST">
            <div class="mb-3">
              <label for="fullname" class="form-label">Fullname:</label>
              <input
                type="text"
                class="form-control"
                id="fullname"
                name="fullname"
                placeholder="Enter fullname..."
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email..."
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password..."
                required
              />
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label"
                >Confirm password:</label
              >
              <input
                type="password"
                class="form-control"
                id="confirm-password"
                name="confirm-password"
                placeholder="Confirm password..."
                required
              />
            </div>
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
